.pages-conteiner{
    background-color: black;

}
.text-page{
    color: whitesmoke;
    text-align: center;
}
.page-conteiner{
    display: flex;
    flex-direction: column;
    padding: 2rem;
}
.text-page-conteiner{
    width: 45%;
}
.page-info-conteiner{
    display: flex;
    justify-content: space-around !important;
    align-items:center ;
}
.image-page{
    width: 100%;
}
.image-page-conteiner{
    width: 40%;
} 
@media (max-width:889px){
.page-info-conteiner{
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }
  .image-page-conteiner{
    width: 90%;
    padding-top: 1rem;
}
.text-page-conteiner{
    width: 90%;
}
}